@model Agl.DevTest.PetOwner.Models.AllOwnersViewModel

<table class="table">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Gender")
        </th>
        <th>
            @Html.Label("Age")
        </th>
        <th>
            @Html.Label("Pets")
        </th>
    </tr>
    @if (Model != null)
    {
        if (Model.StatusCode == StatusCodeValues.SUCCESS && Model.OwnerDetails != null)
        {
            int rowCount = 1;
            foreach (var item in Model.OwnerDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <a onclick="$('#pet-row-@rowCount').toggle();" title="Click to expand or collapse" class="text-center glyphicon glyphicon-collapse-down">&nbsp;</a> 
                    </td>
                </tr>
                if (item.Pets != null)
                {
                    <tr id="pet-row-@rowCount" style="display:none">
                        <td colspan="4">
                            @Html.Partial("_PetDetailsPartial", item.Pets)
                        </td>
                    </tr>
                }
                rowCount++;
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    @Html.DisplayFor(model => model.StatusMessage)
                </td>
            </tr>
        }
    }
</table>
